<h1>Search Page</h1>
<form class="input-group mb-3" method="post" action="">
  <input type="text" class="form-control" name="q" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
</form>